{% extends 'generic/un_logged_base.html' %}
{% load static crispy_forms_tags %}

{% block title %}
Nova senha{% endblock %}

{% block form-title%}
    Recuperação de Senha
{% endblock %}

{% block content %}
 {% if validlink %}
<div class="card-body">

    {% csrf_token %}
    {% crispy form %}

</div>
 {% else %}
<div class="card-body" style="display: grid; text-align: center">

    <b>Infelizmente este link não esta mais válido, tente novamente</b>
 <a style="margin-top: 2%"  href="{% url 'account:password_reset' %}" class="btn btn-outline-primary">
                Redefinir senha
            </a>
</div>
    {% endif %}
{% endblock %}

{% block form-footer %}
    <a href="{% url 'account:register' %}">Não tem uma conta? Cadastre-se!</a>
{% endblock %}
