{% extends 'generic/un_logged_base.html' %}
{% load static crispy_forms_tags %}

{% block title %}
   Email Enviado
{% endblock %}

{% block form-title%}
    Email Enviado!
{% endblock %}

{% block content %}

<div class="card-body">

    <div class="card-body" style="text-align: center">
        Confira sua caixa de entrada, enviamos um email de recuperção.
    </div>

</div>

{% endblock %}

{% block form-footer %}
    <a href="{% url 'account:register' %}">Não tem uma conta? Cadastre-se!</a>
{% endblock %}
