{% extends 'generic/un_logged_base.html' %}
{% load static crispy_forms_tags %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.11.2/jquery.mask.min.js" integrity="sha512-Y/GIYsd+LaQm6bGysIClyez2HGCIN1yrs94wUrHoRAD5RSURkqqVQEU6mM51O90hqS80ABFTGtiDpSXd2O05nw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>{% endblock %}
{% block title %}
    Cadastro - Financeiro
{% endblock %}

{% block form-title%}
    Criar uma Conta
{% endblock %}

{% block content %}

    <div class="card-body">
        {% csrf_token %}
        {% crispy form %}
    </div>

{% endblock %}

{% block form-footer %}
    <a href="{% url 'account:login' %}">Ja tem uma conta? Faça o login!</a>
{% endblock %}

{% block scripts %}
    <script defer>
        $(document).ready(function(){
            $('#phone-number').mask('(00) 00000-0000');
        });
    </script>
{% endblock %}