{% extends 'generic/base.html' %}

{% block content %}

    {% block pre_charts %}
    {% endblock %}


    <div class="row" style="margin-top: 3%; --bs-gutter-x: 0;">

        <div class="col-xl-6">
            <div class="card mb-4">
                {% block chart1 %} {% endblock %}
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card mb-4">
                    {% block chart2 %}{% endblock %}
            </div>
        </div>
    </div>

      {# Second charts area #}
    {% block pre_charts2 %}
    {% endblock %}

    <div class="row" style="margin-top: 3%; --bs-gutter-x: 0;">
        <div class="col-xl-6">
            <div class="card mb-4">
                {% block chart3 %}{% endblock %}

            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                {% block chart4 %}{% endblock %}
            </div>
        </div>
    </div>



{% endblock %}