{% extends 'generic/charts.html' %}
{% load crispy_forms_tags %}

{% block page-title %} Dashboard {% endblock %}

{% block pre_charts  %}
    {% crispy multi_categories_form %}
{% endblock %}

{% block chart1 %}
    <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        Gráficos de Valores por Categoria
    </div>
    <div class="card-body">
        <canvas id="multiCategoriesChart" width="50%" height="50%"> </canvas>
    </div>
{% endblock %}

{% block chart2 %}
    <div class="card-header">
        <i class="fas fa-chart-bar me-1"></i>
        Gráficos de Valores por Categoria
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="table1">
                <thead>
                <tr>
                    <td>
                        <b> Teste </b>
                    </td>
                </tr>
                </thead>
                <tbody id="tbody1">

                </tbody>
            </table>

        </div>
    </div>
{% endblock chart2 %}

{% block pre_charts2 %}
    {% crispy unique_category_form %}
{% endblock %}

{% block chart3 %}
    <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        <b id="chart3-title">Gráfico para Categorias</b>
    </div>
    <div class="card-body">
        <canvas id="categoriesChart" width="50%" height="50%"> </canvas>
    </div>
{% endblock %}

{% block scripts %}

    {# Filters the multi categories chart #}

    {# initial chart, filtered by -30 days #}
    <script defer>
        document.getElementById('id_initial_date').value='{{standard_filter_date}}'
        filterMultiCategoriesForm()

        $("#multi_categories_submit").click( ()=> {
            filterMultiCategoriesForm()
        });

            function filterMultiCategoriesForm(){
            let filterParams = $('#multi-categories-form').serializeArray()
            $.ajax({
                url : '{% url 'charts:filter_multi_categories' %}',
                method: 'get',
                data: filterParams,
                success: (response) => {
                    var chart = document.getElementById('multiCategoriesChart');
                    var names = response.names;
                    var values = response.values;
                    var percentages = response.percentages;
                    var colors = response.colors
                    $('multiCategoriesChart').innerHTML = new Chart(chart, {
                        type: 'pie',
                        data: {
                            labels: names,
                            datasets: [{
                                label: 'Pizza',
                                data: values,
                                backgroundColor: colors,
                                hoverOffset: 4
                            }]
                        },
                    });
                    console.log('deu boa')
                },
                error: function(){
                    console.log('não deu boa')
                }
            })
        }

    </script>

    <script defer>
        document.getElementById('id_cat_initial_date').value='{{standard_filter_date}}'
        filterUniqueCategoryForm()

        $("#category_filter_submit").click( ()=>{
            filterUniqueCategoryForm()
        })

            function filterUniqueCategoryForm() {
            let filterParams = $('#unique-category-form').serializeArray()
            $.ajax({
                url : '{% url 'charts:filter_unique_category' %}',
                method: 'get',
                data: filterParams,
                success: (response) => {
                    var chart = document.getElementById('categoriesChart')

                    var category = response.category;
                    var values = response.values;
                    var dates = response.dates;
                    document.getElementById('chart3-title').innerHTML= 'Grafico de gastos em: '+category
                    var categoriesChart = new Chart(chart, {
                        type: 'pie',
                        data: {
                            labels: dates,
                            datasets: [{
                                label: 'Pizza',
                                data: values,
                                backgroundColor: [
                                    'rgb(213,109,131)',
                                    'rgb(54, 162, 235)',
                                    'rgb(255, 205, 86)'
                                ],
                                hoverOffset: 4
                            }]
                        },
                    });

                    console.log('deu boa')
                },
                error: function(){
                    console.log('não deu boa')
                }
            })
        }

    </script>

    <script defer>
        $('#id_category').select2({
            placeholder: 'Selecione uma ou mais Categorias'
        })
    </script>
{% endblock %}