{% extends 'generic/charts.html' %}
{% load crispy_forms_tags %}

{% block page-title %} Dashboard {% endblock %}

{% block pre_charts  %}
    {% crispy multi_categories_form %}
{% endblock %}

{% block chart1 %}
    <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        <b>Gráfico de valores por categoria</b>
    </div>
    <div class="card-body">
        <canvas id="multiCategoriesChart" width="50%" height="50%"> </canvas>
    </div>
{% endblock %}

{% block chart2 %}
    <div class="card-header">
        <i class="fas fa-chart-bar me-1"></i>
        <b>Relatório de valores por categoria</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="table1" style="text-align: center">
                <thead>
                <tr>
                    <td> <b>Categoria</b> </td>
                    <td> <b>Valor</b> </td>
                    <td> <b>Percentual</b> </td>
                </tr>
                </thead>

                <tbody id="tbody1">
                </tbody>
                <tfoot id="tfoot1">
                </tfoot>

            </table>

        </div>
    </div>
{% endblock chart2 %}

{% block pre_charts2 %}
    {% crispy unique_category_form %}
{% endblock %}

{% block chart3 %}
    <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        <b id="chart3-title"></b>
    </div>
    <div class="card-body">
        <canvas id="categoriesChart" width="50%" height="50%"> </canvas>
    </div>
{% endblock %}

{% block chart4 %}

    <div class="card-header">
        <i class="fas fa-chart-bar me-1"></i>
        <b id="unique_category_report"> </b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="table2" style="text-align: center">
                <thead>
                <tr>
                    <td><b> Data </b></td>
                    <td><b> Valor </b></td>
                    <td><b> Percentual </b></td>
                </tr>
                </thead>
                <tbody id="tbody2">
                </tbody>
                <tfoot id="tfoot2">
                </tfoot>
            </table>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    {# Filters the multi categories chart #}

    {# initial chart, filtered by -30 days #}

    <script defer>
        document.getElementById('id_initial_date').value='{{standard_filter_date}}'
        filterMultiCategoriesForm()

        $("#multi_categories_submit").click(()=>{
            filterMultiCategoriesForm()
        });
        function filterMultiCategoriesForm(){
            let filterParams = $('#multi-categories-form').serializeArray()
            $.ajax({
                url : '{% url 'charts:filter_multi_categories' %}',
                method: 'get',
                data: filterParams,
                success: (response) => {
                    var chart = document.getElementById('multiCategoriesChart');

                    $('multiCategoriesChart').innerHTML = new Chart(chart, {
                        type: 'pie',
                        data: {
                            labels: response.names,
                            datasets: [{
                                label: 'Pizza',
                                data: response.values,
                                backgroundColor: response.colors,
                                hoverOffset: 4
                            }]
                        },
                    });
                    $('#tbody1').empty();
                    for (const [key, value] of Object.entries(response.categories)){
                        $('#tbody1').append("<tr><td>"+value.name+"</td><td>R$: "+value.value+"</td><td>"+value.percentage+"%</td></tr>");

                    }
                    $('#tfoot1').empty();
                    $('#tfoot1').append("<tr><td><b>Total</b></td><td><b>R$: "+response.total_value+"</b></td><td><b>100%</b></td></tr>");
                },
                error: function(){
                    console.log('não deu boa')
                }
            })
        }

    </script>

    <script defer>
        document.getElementById('id_cat_initial_date').value='{{standard_filter_date}}'
        filterUniqueCategoryForm()

        $("#unique_category_filter_submit").click( ()=>{
            filterUniqueCategoryForm()
        })

        function filterUniqueCategoryForm() {
            let filterParams = $('#unique-category-form').serializeArray()
            $.ajax({
                url : '{% url 'charts:filter_unique_category' %}',
                method: 'get',
                data: filterParams,
                success: (response) => {
                    var chart = document.getElementById('categoriesChart')

                    document.getElementById('chart3-title').innerHTML= 'Grafico de valores da categoria: '+response.category
                    document.getElementById('unique_category_report').innerHTML= 'Relatório de valores da categoria: '+response.category
                    var categoriesChart = new Chart(chart, {
                        type: 'pie',
                        data: {
                            labels: response.dates,
                            datasets: [{
                                label: 'Pizza',
                                data: response.values,
                                backgroundColor: [
                                    'rgb(213,109,131)',
                                    'rgb(54, 162, 235)',
                                    'rgb(255, 205, 86)'
                                ],
                                hoverOffset: 4
                            }]
                        },
                    });

                    $('#tbody2').empty();
                    for (const [key, value] of Object.entries(response.transactions)){
                        $('#tbody2').append("<tr><td>"+value.date+"</td><td>R$: "+value.value+"</td><td>"+value.percentage+"%</td></tr>");
                    }
                    $('#tfoot2').empty();
                    $('#tfoot2').append("<tr><td><b>Total</b></td><td><b>R$: "+response.total_value+"</b></td><td><b>100%</b></td></tr>");
                },
                error: function(){
                    console.log('não deu boa')
                }
            })
        }

    </script>

    <script defer>
        $('#id_category').select2({
            placeholder: 'Selecione uma ou mais Categorias'
        })
    </script>
{% endblock %}