{% extends 'generic/base.html' %}

{% block page-title %} Confirmação para Deletar {% endblock %}

{% block content %}

 <div class="alert" style="background-color: #f44336; color: white" >
        <form method="post">
            {% csrf_token %}
            <h1> Você tem certeza que deseja excluir a Categoria <b>{{ object.name }}?</b></h1>
            <h2>  Essa ação é <b>IRREVERSÍVEL</b> e causará a exclusão de <b>TODAS</b> as transações dela </h2>
            <b> <input type="submit" value="Deletar" > </b>
        </form>
 </div>

{% endblock %}